@page
@model OdeToFood.ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="@Model.SearchTerm" name="search"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Location</td>
            <td>Cuisine</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Location</td>
                <td>@restaurant.Cuisine</td>
            </tr>
        }
    </tbody>
</table>

<div>@Model.Message</div>